name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Create Archive
        run: |
          cd dist
          zip -r ../veex-asset-bundle.zip .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: veex-asset-bundle.zip
          body: "Industrial Grade Web Assets for VEEX Ecosystem. Version ${{ github.ref_name }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
